<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Hello, world!</h1>
  <div id="get-halo"></div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script>
    $(document).ready(function (e) {
      $.get('/halo',
        function (data) {
          $('#get-halo').html(data);
        }
      );
    });
  </script>
</body>

</html>